.App {
  text-align: center;
}

.select {
  width: 200px;
  height: 100px;
  margin: 20px;
  padding: 10px;
  font-size: 30px;
}

.select2 {
  width: 200px;
  height: 100px;
  margin: 20px;
  padding: 10px;
  font-size: 30px;
  display: none;
}

.show {
  display: block;
}
